<header class="header">
  <div class="container">
    <a class="logo" href="#">OURsite</a>
    <a href="" class="about-us" href="#">Read More</a>
    <nav class="navigation">
      <ul class="navigation-links">
        <li class="link"><a href="#" class="link-1">Link 1</a></li>
        <li class="link">
          <a href="#" class="link-2">Link 2</a>
        </li>
        <li class="link">
          <a href="#" class="link-3">Link 3</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
